build
dist
*.exe
/Software Spezifikation_RFID to MBS_V03.pdf
/Software Spezifikation_RFID to MBS_V03.rtf
/Software Spezifikation_RFID to MBS_V03.txt
/MultiIO_RFID_MIFARE_Block_Read.pdf
/MultiIO_RFID_MIFARE_Block_Write.pdf
/rfid_modbus_sequence_read_block.pdf
/rfid_modbus_sequence_write_block.pdf
/rfid_modbus_tunnel_led_control.pdf
/FB2_LED_Control.pdf
